.title {
  font-size: 1.2em;
  font-weight: 500;
  background: #ffffff;
  padding: 15px;
}

.tweetCard {
  background: #ffffff;
  height: 200px;
}

.whatshappening {
  background: #ffffff;
  height: 100px;
  margin-top: 2px;
}

.middleContainer {
  padding: 3px;
  background: #f7f9fa;
  width: 48%;
  height: 100%;
  display: row;
}

.rightContainer {
  width: 26%;
  height: 100%;
  background: white;
}

.textIcon {
}
.icon {
  background: black;
  width: 30px;
  margin: 5px;
}

.body {
  margin: auto;
  width: 1330px;
  height: 100vh;
  display: flex;
}

.leftContainer {
  width: 26%;
  background: white;
  display: flex;
  flex-direction: column;
}
